<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
    <title>Grupo 3</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header__logo">
            <img src="/img/logo-proyecto.jpg">
        </div>
        <nav class="main-header__nav">
            <div class="nav__menu-icon">
                <i class="fa fa-bars burguer"></i>
            </div>

            <ul class="nav__entry-points">
                <li class="entry-point__item"><i class="fa fa-search"></i></li>
                <li class="entry-point__item"><a href="/login">Ingresá</a></li>
                <li class="entry-point__item"><a href="/register">Creá tu cuenta</a></li>
            </ul>
        </nav>



        <div class="main-header__banner">
            <img src="/img/publicidad.png">
        </div>

        <!-- <form class="search-bar">
                <div class="input">Buscar en toda la tienda<i class="fa fa-search"></i></div>
            </form> -->


    </header>
    <main>

        <section class="products-section">
            <h3 class="products-section__title">Destacados</h3>
            <div class="products-section__products-container">

                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/aperol.jpg" class="logo">
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Aperol + Cinzano Sprits</p>
                        <p class="info-product__precio">$3220.50</p>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/cinzano.webp">
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Cinzano segundo 750ml</p>
                        <p class="info-producto__precio">$6.770</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/tresplumas.webp">
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Melon 700 ml tres plumas</p>
                        <p class="info-producto__precio">$6.770</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/fernet.webp">
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Fernet branca 750 mundial</p>
                        <p class="info-product__precio">$6.770</p>
                    <div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/cervezaGrolsch.jpg">
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Cerveza grolsch Lata 473ml</p>
                        <p class="info-product__precio">$264</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/rutini.jpg">
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Ruttini malbec 750ml</p>
                        <p class="info-product__precio">4.768,50</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/rutini.jpg">
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Grand old parr 12 años 750ml</p>
                        <p class="info-product__precio">6.479,00</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/norton.jpg">
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Norton malbec doc 750ml</p>
                        <p class="info-product__precio">1.056,0</p>
                    </div>
                </article>
            </div>
        </section>


    </main>
    <footer>
        <div class="service-items">
            <h4 class="service-items_title">Enviamos tu compra</h4>
            <p class="service-items_text">Entregas a todo el pais</p>
        </div>
        <h4 class="footer-title">Navegacion</h4>
        <nav class="nav-footer">
            <ul class="nav-footer_footer-list">
                <li class="footer-list_item"><a href="/">Envios</a></li>
                <li class="footer-list_item"><a href="/">Contacto</a></li>
                <li class="footer-list_item"><a href="/">Lista de Precios</a></li>
                <li class="footer-list_item"><a href="/">Horarios de atencion</a></li>
                <li class="footer-list_item"><a href="/">Preguntas Frecuentes</a></li>
                <li class="footer-list_item"><a href="/">Politicas de Privacidad</a></li>
            </ul>
        </nav>
        <h4 class="footer-title">Contactanos</h4>
        <ul class="contactos-list">
            <li><a href="/">0800 444 333</a></li>
            <li><a href="/">info@distribuidoragrupo3.com</a></li>
            <li><a href="/">Bondi Road 241, Capital Federal. Buenos Aires</a></li>
        </ul>
    </footer>



</body>

</html>