:root{
  --primary-color:#e49b0f;
  --just-white:#FFFFFF;  
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    width: 100%;
}

a{
    color: var(--just-white);
    text-decoration: none;
}
i{
    cursor: pointer;
}



.main-header{
    background-color: #000;
}

.main-header .main-header__logo{
    width: 100px;
    margin: 0 auto;
    padding: 10px 0;
}

.main-header__logo img{
    width: 100%;
}



.main-header .main-header__nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
}


.main-header__nav .nav__menu-icon i{
    background-color: black;
    border-radius: 5px;
    color:var(--just-white);
    font-size: 25px;
    height: 20px;
    width: 40px;
    display: block;
    text-align: center;
    font-size: 18px;
    transition: all 250ms ease-in-out;
}
.burguer-menu i:hover{
    color:var(--primary-color);
}

.main-header__nav .nav__entry-points{
    display: flex;
    gap: 10px;
    list-style: none;
    color:#FFFFFF;
}

.nav__entry-points .entry-point__item a, .nav__entry-points .entry-point__item i:hover{
    transition: all 250ms ease-in-out;
}

.nav__entry-points .entry-point__item a:hover, .nav__entry-points .entry-point__item i:hover{
    color: var(--primary-color);
}


.main-header .main-header__banner img{
    width:100vw;
    height:auto;
    margin-top:15px;
}

header div.input {
    background-color: #fff;
    border: 1px solid #000;
    color:darkgrey;
    width: 100%;
    margin-top: 15;
}

main section{
    
    
}

.titulo{
    margin:10px 0px 30px;
    text-align: center;
}



.producto .producto__image-container {
    width:150px;
    height: 240px;
}

.producto .producto__image-container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.products-section .products-section__title{
    text-align: center;
    margin: 15px;
}

.products-section .products-section__products-container{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.producto{
    width: 150px;
}

.producto .producto__info-product{
    text-align: center;
}


.producto__info-product .info-product__title{
    display:flex;
    font-size:14px;
    color:#8c8c8c;
    margin-top:10px;
    text-align:center;
    width:100%;
}

.producto__info-product .info-product__precio{

}












