<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
    <title>Grupo 3</title>
</head>

<body>

    <%- include('./partials/header', { isLogged }); -%>
    <main>

        <section class="products-section">
            <h1 class="products-section__title">Destacados</h1>
            <div class="products-section__products-container">

                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/aperol.jpg" class="logo">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Aperol + Cinzano Sprits</p>
                        <p class="info-product__precio">$3220.50</p>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/cinzano.webp">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Cinzano segundo 750ml</p>
                        <p class="info-product__precio">$6.770</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/tresplumas.webp">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Melon 700 ml tres plumas</p>
                        <p class="info-product__precio">$6.770</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/fernet.webp">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Fernet branca 750 mundial</p>
                        <p class="info-product__precio">$6.770</p>
                        <div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/cervezaGrolsch.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Cerveza grolsch Lata 473ml</p>
                        <p class="info-product__precio">$264</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/rutini.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Ruttini malbec 750ml</p>
                        <p class="info-product__precio">4.768,50</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/rutini.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Grand old parr 12 años 750ml</p>
                        <p class="info-product__precio">6.479,00</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/norton.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Norton malbec doc 750ml</p>
                        <p class="info-product__precio">1.056,0</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/black Label.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Jonnie walker black label</p>
                        <p class="info-product__precio">7150,0</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/Baileys.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Baileys 750ml</p>
                        <p class="info-product__precio">4672,0</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/black Label.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Jonnie Walker black label</p>
                        <p class="info-product__precio">7150,0</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/NietoSenetiner.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Jonnie Walker black label</p>
                        <p class="info-product__precio">7150,0</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/oldpar.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Grand old parr</p>
                        <p class="info-product__precio">7244,0</p>
                    </div>
                </article>
                <article class="producto">
                    <div class="producto__image-container">
                        <img src="/img/oldpar.jpg">
                        <div class="image-container__mask"></div>
                    </div>
                    <div class="producto__info-product">
                        <p class="info-product__title">Grand old parr 750ml</p>
                        <p class="info-product__precio">6499,0</p>
                    </div>
                </article>


            </div>
        </section>


    </main>
    <%- include('./partials/footer'); -%>



</body>

</html>