<header class="main-header">
    <div class="main-header__logo">
        <img src="/img/logo-proyecto.jpg">
    </div>
    <nav class="main-header__nav">
        <div class="nav__menu-icon">
            <i class="fa fa-bars burguer"></i>
        </div>

        <ul class="nav__entry-points">
            <li class="entry-point__item"><i class="fa fa-search"></i></li>
            <li class="entry-point__item"><a href="/auth/login">Ingresá</a></li>
            <li class="entry-point__item"><a href="/auth/register">Creá tu cuenta</a></li>
            <li class="entry-point__item"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
    <div class="main-header__banner">
        <img src="/img/publicidad.png">
    </div>

</header>