<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
    <link href="/css/notFound.css" rel="stylesheet">
    <title>Grupo 3</title>
</head>
<body>
    <header class="main-header">
        
    </header>
    <main>
        <section class="error">
            <div class="error-container">
                <article class="error-container__item">
                    <div class="item-image">
                        <img src="">
                    </div>
                    <div class="error-info">
                        <h1 class="info-error_title">AWW... DON'T CRY</h1>
                        <h2 class="info-error_text">No hemos encontrado la pagina que estas buscando</h2>
                    </div>
                </article>
        </section>

    </main>
    <footer>
        <div class="footer-main">
            <div class="footer-main_container-1">
                <h3 class="footer-title">Aqui tienes algunos enlaces que tal vez puedan ayudarte</h3>
                <nav class="nav-footer">
                    <ul class="nav-footer_footer-list">
                        <li class="footer-list_item"><a href="/">Home</a></li>
                        <li class="footer-list_item"><a href="//auth/login">Ingresar</a></li>
                        <li class="footer-list_item"><a href="/auth/register">Crea tu cuenta</a></li>
                    </ul>
                </nav>
            </div>
    </footer>
    
</body>
</html>

